@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

:root{
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

body{
    background: #f5f6f9;
    margin-top: 180px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--dark-color);

}

p{
    color: var(--parg-color);
}

.container {
    width: 75%;
    margin: auto;
}

@media (max-width:1500px) {
    .container {
        width: 50%;

    }
}



/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
}

header .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .top-nav .logo img{
    width: 150px;
}

header .top-nav .search {
    width: 500px;
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

header .top-nav .search input {
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
    
}

header .top-nav .search button{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background-color: var(--main-color);
    height: 100%;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
}

header .top-nav .cart_header{
    display: flex;
    gap: 10px;
    align-items: center;
}

header .top-nav .cart_header i{
    color: var(--dark-color);
    font-size: 20px;
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

header .top-nav .cart_header i:hover{
    background-color: var(--main-color);
    color: #fff;
}

header .top-nav .cart_header .icon_cart {
    position: relative;
}

header .top-nav .cart_header .count_item{
    position: absolute;
    background: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    top: -5px;
    right: 0px;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
}

header .top-nav .cart_header .total_price p{
    margin-bottom: 8px;
}

header nav{
    border-top: 1px solid var(--border-color);
}

header .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links ul{
    display: flex;
    gap: 70px;
}

header .links ul li a{
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header .links ul li{
    position: relative;
    padding: 20px 0;
}

header .links ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: .3s ease-in-out;
}

header .links ul li.active::after,
header .links ul li:hover::after{
width: 100%;
}

header .links .loging_signup a{
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    margin-left: 10px;
    border-radius: 5px;
}

/* END HEADER */

/* CART */

.cart {
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    background: #fff;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    transition: .3s ease;
}

.cart.active {
    right: 0;
}

.cart .top_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .top_cart .close_cart i{
    font-size: 35px;
    cursor: pointer;
    transition: .3s;
}

.cart .top_cart .close_cart i:hover{
    color: var(--dark-red);
}

.cart .top_cart h3{
    font-size: 18px;
}

.cart .top_cart h3 span{
    font-size: 14px;
    color: var(--parg-color);
    font-weight: normal;
}

.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    height: 100%;
}


.cart .item_cart{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.cart .item_cart:last-child{
    margin-bottom: 0;
}

.cart .item_cart img{
    width: 100px;
}

.cart .item_cart h4{
    margin-bottom: 10px;
    font-weight: 500;
}

.cart .item_cart .delete_item{
    outline: none;
    border: none;
}

.cart .item_cart .delete_item i{
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.cart .item_cart .delete_item i:hover{
    color: var(--dark-red);
    transform: scale(1.2);
}


.cart .bottom_cart .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.cart .bottom_cart .total .price_cart_total{
    color: var(--main-color);
}

.cart .button_cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .button_cart .btn_cart{
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--main-color);
    transition: .3s ease;
}

.cart .button_cart .btn_cart:hover{
    background: transparent;
}

.cart .button_cart .trans_bg{
    background: transparent;
}

.cart .button_cart .trans_bg:hover{
    background: var(--main-color);
}


/* END CART */

/* SLIDER PRINCIPAL*/

.slider .container {
    display: flex;
    justify-content: space-between;
}

.slider .container .side_bar{
    width: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.slider .container .side_bar h2{
    padding: 20px 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}

.slider .container .side_bar a{
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
    border-top: 1px solid var(--border-color);
    transition: .3s ease-in-out;
}

.slider .container .side_bar a:hover{
    color: var(--main-color);
}


.slider .container .slide-swp{
    width: calc(100% - 350px);
    overflow: hidden;
    position: relative;
}

.slider .container .slide-swp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}


.slider .container .slide-swp .swiper-button-next:hover,
.slider .container .slide-swp .swiper-button-prev:hover {
    color: var(--main-color);
}

.slider .container .slide-swp .swiper-pagination span{
   background: #fff;
   opacity: 1;
}

.swiper-pagination-bullet-active{
    background: var(--main-color) !important;
    width: 35px !important;
    height: 8px !important;
    border-radius: 30px !important;
}


/* END SLIDER */

/* FEATURES */

.features{
    margin: 50px 0;
}

.features .container{
    display: flex;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .container .feature_item{
    width: 18%;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.features .container .feature_item img {
    width: 50px;
}

.features .container .feature_item h4{
    margin-bottom: 8px;
    font-size: 15px;
}

.features .container .feature_item p{
    font-size: 12px;
}

/* END FEATURES */

/* BANNERS */

.banner{
    margin: 50px 0;
}

.banner .container{
    display: flex;
    justify-content: space-between;
}

.banner .container .banner_img{
    width: 32%;
    position: relative;
}

.banner .container .banner_img img{
    width: 100%;
}

.banner .glass_hover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.banner .glass_hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg , transparent 50%, 
    rgba(255,255,255,.5) 60%, rgba(255,255,255,.5) 70%, transparent 71%);
    background-size: 200% 100%;
    background-position: 200% 0;
    z-index: 90;
    transition: .8s;
}

.banner .banner_img:hover .glass_hover::after{
    background-position: -20% 0;
}

.banner .banner_img a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* banner big */

.banner_big .container .banner_img{
    width: 49%;
    position: relative;
}

/* END BANNER */

/* SLIDE PRODUCTS */

.product_sale{
    margin-bottom: 50px;
}

.title_top_sale{
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.title_top_sale::after{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100px;
    height: 2px;
    background: var(--main-color);
}

/* .title_top_sale h2{
    text-transform: capitalize;
}
 */
.title_top_sale h2 span{
    font-weight: normal;
}


.product_slice_wrapp{
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.productSwiper .btn_swip{
    color: #fff;
    background-color: var(--name-item);
    font-weight: bold;
    padding: 25px;
    border-radius: 50%;

}

.productSwiper .btn_swip::after{
    font-size: 20px ;
}


.swiper-button-disabled{
    opacity: 0 !important;
}
/* product style */


.products{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}


.product-body .salent_present{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    background-color: var(--dark-red);
    border-radius: 5px;
    color: #fff;
   padding: 4px 12px;
   font-size: 14px;
}

.product-body{
    width:96%;
    max-width:260px;
    min-height:330px;
    transition-duration: 300ms;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius:15px;
    overflow:hidden;
    position: relative;
  }
  .product-body:hover{
    transform:scale(1.01);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }

  .product-body .product-image{
    width:100%;
    height:240px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: radial-gradient( circle 957px at 8.7% 50.5%,  rgba(246,191,13,1) 0%, rgba(249,47,47,1) 90% );
  }
  
  .product-body .product-image img{
    max-height:70%;
    max-width:70%
  }

  .product-body .product-info{
    padding: 20px;
  }

  .product-body .product-info .product-name{
    color:rgb(0,0,0);
    font-size:1.03rem;
    font-weight:600;
    display:block;
    text-transform: uppercase;
  }

  .product-body .product-info .product-description{
    font-size: 16px;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 5px 0 20px;
    color: rgba(0, 0, 0, 0.409);
  }

  .product-body .product-info>div{
    display:flex;
    /* align-items:center; */
    justify-content:space-between;
  }

  .product-body .product-info .product-price-area{
    position:relative;
  }

  .product-body .product-info .product-price{
    font-size:1.2rem;
    font-weight:700;
  }

  .product-body .product-info .product-old-price{
    opacity:0.5;
    font-weight:600;
    position:absolute;
    bottom:0px;
    right:0px;
    text-decoration: line-through;
    color: #d01418;
  }


  .product-body .product-info a{
    text-decoration:none;
    border:none;
    cursor:pointer;
    border-radius:10px;
    padding:10px;
    background:#0d6efd;
    color:#fff;
  }
  .product-body .product-info a:hover{
    background:#004fc4;
  }
  


  /*  SECTION PARALLAX */

  .parallax {
    background: url("/img/back_parallax.jpg") no-repeat center ;
    background-size: cover; 
    background-attachment: fixed; 
    height: 450px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .wrapper_parallax {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    height: 100%;
  }

  .wrapper_parallax .info_parallax{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    
  
  }

  .wrapper_parallax .info_parallax h3{
    color: #fff;
    font-size: 50px;
  }
  .wrapper_parallax .info_parallax p{
    color: #fff;
    width: 80%;
    font-size: 20px;
    margin: 10px 0 30px;
  }

  .parallax_btn{
    border-radius: 999px;
    padding: 15px 30px;
    font-size:20px;
    font-weight:500;
    color:white;
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(5px);
    z-index:20;
    cursor:pointer;
    border:none;
  }
  .parallax_btn:hover {
    transform: scale(1.1);
  }

  .wrapper_parallax .img_parralax{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  
  .wrapper_parallax .img_parralax img{
    /* width: 50%; */
    filter: drop-shadow(0px 0px 10px #fff);
  }



  /* SECTION MARCAS */

  .wrapper_logos_marcas{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }



.wrapper_logos_marcas img{
    filter: grayscale(1);
    width: 200px;
    
}